@import url(http://fonts.googleapis.com/css?family=Lato:700,900);
body {
  background-color: #0e83cd
}

h2 {
  font-size: 36px;
  font-family: 'Lato', sans-serif;
  color: black;
}

.boc_active, .boc_inactive {
  font-size: 15px;
}

.countdown-segment {
	position: relative;
	float: left;
	width: 22%;
	height: 100%;
	margin: 0 1%;
}

.digit {
  float:left;
  width:38%;
  height:37px;
  padding:2px 2px 0 2px;
  margin-right:2%;
  margin-top: 30%;
  background:#333;
  color:#fff;
  font-family:"museo-slab",Rockwell,sans-serif;
  font-size:27px;
  font-weight:bold;
  text-align:center;
  text-shadow:0 2px 0 rgba(0,0,0,0.5);
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;
  border-radius:5px
}

.countdown-label {
	position: absolute;
	bottom: -32px;
  right: 2px;
	width: 100%;
	color: #666;
	font-size: 14px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

#boc_container {
  height: 320px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  top: 7px;
  width: 248px;
}

#boc_container div {
  position: absolute;
}

#beaker {
  border: 10px solid #b3b3b3;
  border-top: 0;
  border-radius: 0 0 30px 30px;
  height: 250px;
  left: 14px;
  bottom: 0;
  width: 200px;
}

#liquid {
  border-radius: 0 0 20px 20px;
  bottom: 0;
  height: 0px;
  overflow: hidden;
  width: 180px;
}

#liquid:after {
  background-color: rgba(255, 255, 255, 0.25);
  bottom: -10px;
  content: '';
  height: 250px;
  left: -30px;
  position: absolute;
  transform: rotate(30deg);
  -webkit-transform: rotate(15deg);
  width: 97px;
}

#liquid .bubble {
  -webkit-animation-name: bubble;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  background-color: rgba(255, 255, 255, 0.2);
  bottom: 0;
  border-radius: 10px;
  height: 20px;
  width: 20px;
}

@-webkit-keyframes bubble {
  0% {
    bottom: 0;
  }
  50% {
    background-color: rgba(255, 255, 255, 0.2);
    bottom: 80px;
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
    bottom: 160px;
  }
}

.bubble1 {
  left: 10px;
  -webkit-animation-delay: 1000ms;
  -webkit-animation-duration: 1000ms;
}

.bubble2 {
  left: 50px;
  -webkit-animation-delay: 700ms;
  -webkit-animation-duration: 1100ms;
}

.bubble3 {
  left: 100px;
  -webkit-animation-delay: 1200ms;
  -webkit-animation-duration: 1300ms;
}

.bubble4 {
  left: 130px;
  -webkit-animation-delay: 1100ms;
  -webkit-animation-duration: 700ms;
}

.bubble5 {
  left: 170px;
  -webkit-animation-delay: 1300ms;
  -webkit-animation-duration: 800ms;
}


/* Foam */

.beer-foam {
  position: absolute;
  bottom: 10px;
}

.foam-1,
.foam-2,
.foam-3,
.foam-4,
.foam-5,
.foam-6,
.foam-7 {
  float: left;
  position: absolute;
  z-index: 100;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: #fefefe;
}

.foam-1 {
  top: -30px;
  left: -10px;
}

.foam-2 {
  top: -35px;
  left: 20px;
}

.foam-3 {
  top: -25px;
  left: 50px;
}

.foam-4 {
  top: -35px;
  left: 80px;
}

.foam-5 {
  top: -30px;
  left: 110px;
}

.foam-6 {
  top: -20px;
  left: 140px;
}

.foam-7 {
  top: -30px;
  left: 160px;
}

/* Beer style */

.beer #liquid {
  background-color: #edaf32;
  border: 10px solid #edaf32;
}

/* Cola style */

.cola #liquid {
  background-color: #180802;
  border: 10px solid #180802;
  border-top: none;
}

.cola #liquid:before {
  opacity: 0.6;
  background-repeat: no-repeat;
  background-image: url('images/ice-lime.png');
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: contain;
  }
.cola .beer-foam {
  display: none;
}
